{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not menu_categories %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          {% if perms.decommission.can_export_device %}
            <a class="text-secondary" href="{% url 'decommission:export_disp_device' %}">
              Экспорт
            </a>
          {% endif %}
        </tr>
      </thead>
    </table>
  {% else %}
    <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
      <ul class="nav nav-tabs">
        {% if perms.decommission.can_export_device %}
          <div class="dropdown">
            <button class="btn btn-light text-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Экспорт
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item text-secondary" href="{% url 'decommission:export_disp_device' %}">
                  Все устройства
                </a>
              </li>
              {% for item in menu_categories %}
                <li>
                  <a class="dropdown-item text-secondary"
                    href="{% url 'decommission:export_disp_device_category' item.slug %}">{{item.name}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'decommission:disp_list' %}active{% endif %}"
               href="{% url 'decommission:disp_list' %}">
              Все группы
            </a>
        </li>
        {% for item in menu_categories %}
          <li class="nav-item ">
            <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
              href="{{ item.get_absolute_url }}">{{item.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if not disposal_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Устройства не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
      <table class="table align-middle table-hover caption-top" style="text-align:center">
        <caption>Устройств на странице: {{disposal_list.count}} из {{obj_list_count}}</caption>
      <thead>
        <tr>
          <th scope="col">Устройства</th>
          <th scope="col">Группа</th>
          <th scope="col">Количество</th>
          <th scope="col">Дата утилизации</th>
          <th scope="col">Размещение</th>
          <th scope="col">Здание</th>
          <th scope="col">Примечание</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for each in disposal_list %}
      <tr>
        <td><a class="noDecoration" href="{{ each.stock_model.get_absolute_url }}">{{ each.stock_model.name }}</a></td>
        <td>{{ each.categories}}</td>
        <td>{{ each.stock_model.quantity }}</td>
        <td>{{ each.date }}</td>
        <td>{{ each.stock_model.workplace.room.name }}</td>
        <td>{{ each.stock_model.workplace.room.building }}</td>
        {% if each.stock_model.note %}
          <td>{{ each.stock_model.note }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          {% if perms.decommission.remove_from_disposal %}
            <a class="noDecoration" href="{% url 'decommission:remove_disp' each.stock_model.id %}">
              Удалить
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </table>
{% endif %}
  </div>
  <!--block pagination-->  
  {%include 'pagination/pagination.html' %}
  <!--block history-->
  {% load history_tags %}
  {% device_disp_history  %}
{% endblock %}