{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  <div class="table-responsive"> 
    <caption>
      <h1 style="text-align:center">{{title}}</h1>
    </caption> 
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
{% if software_list %}
    <table class="table align-middle table-hover caption-top" style="text-align:center">
      <caption>ПО на странице: {{software_list.count}} из {{obj_list_count}}</caption>
    <thead>
      <tr>
        <th scope="col">ПО</th>
        <th scope="col">Производитель</th>
        <th scope="col">Версия</th>
        <th scope="col">Разрядность</th>
        <th scope="col">Лицензионный ключ</th>
        <th scope="col">Лицензионный ключ</th>
        <th scope="col">Лицензионный ключ</th>
      </tr>
    </thead>
  <tbody style="text-align:center">
    {% for software in software_list %}
    <tr>
      <td><a class="noDecoration" href="{{ software.get_absolute_url }}">{{ software.name }}</a></td>
      <td><a class="noDecoration" href="{{ software.manufacturer.get_absolute_url }}">{{ software.manufacturer.name }}</a></td>
      <td>{{ software.version }}</td>
      <td>{{ software.bitDepth }}</td>
      <td>{{software.licenseKeyText}}</td>
      <td>
        {% if software.licenseKeyFile %}
          <a class="noDecoration" href="{{ software.licenseKeyFile.url }}">
            <img src="{% static 'images/download.svg' %}" class="iconTable">
          </a>
        {% else %}
          <img src="{% static 'images/no_file.svg' %}" class="iconTable">
        {% endif %}
      </td>
      <td>
        {% if software.licenseKeyImg %}
          <a href="{{ software.licenseKeyImg.url }}">
            <img src="{{ software.licenseKeyImg.url }}" style="height:60px">
          </a>
        {% else %}
          <img src="{% static 'images/no_file.svg' %}" class="iconTable">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Програмное обеспечение не обнаружено</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>
<!--block pagination-->  
{%include 'pagination/pagination.html' %}
{% endblock %}
