{% extends "base_generic.html" %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
<div class="col ">
  <div class="row row-cols-3 row-cols-md-3">
    <div class="col nodecorationIndex">
      <a href="{% url 'software:software_list' %}">
        <div class="card text-white text-center bg-dark square justify-content-center">
          <div class="card-header">
            <h5 class="card-title">СОФТ</h5>
          </div>
          <img src="{% static 'images/software.svg' %}" class="card-img-top iconIndex">
        </div>
      </a>
    </div>
    <div class="col nodecorationIndex">
      <a href="{% url 'software:OS_list' %}">
        <div class="card text-white text-center bg-dark square justify-content-center">
          <div class="card-header">
            <h5 class="card-title">ОС</h5>
          </div>
          <img src="{% static 'images/os.svg' %}" class="card-img-top iconIndex">
        </div>
      </a>
    </div>
  </div>
</div>
<!--toast messages-->
  {% include 'toast.html'%}

{% endblock %}
