{% extends "login_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Введите (и подтвердите) ваш новый пароль.</p>
        <form action="" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content="Войти" %}


           </form>

    {% else %}
        <div class="text_login">
            <h1>Сбой сброса пароля</h1>
            <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
        </div>
    {% endif %}

{% endblock %}

