{% extends "base_generic.html" %}

{% block content %}
{% load static %}

    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >Раздел в разработке</h1>
      </caption>
    </div>
<!--search block
      {%include 'search/search.html' %}-->
<!--content block
{% if signature_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Ключ</th>
          <th scope="col">Оформлена</th>
          <th scope="col">Хранится</th>
          <th scope="col">Накопитель</th>
          <th scope="col">Открытая часть</th>
          <th scope="col">Закрытая часть</th>
          <th scope="col">Истекает срок открытой части</th>
          <th scope="col">Истекает срок закрытой части</th>
          <th scope="col">Раб. станция</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for signature in signature_list %}
      <tr>
        <td><a class="noDecoration" href="{{ signature.get_absolute_url }}">{{ signature.name }}</a></td>  
        <td>
          <a class="noDecoration" href="{{ signature.employeeRegister.get_absolute_url }}">
            {{ signature.employeeRegister.name }} {{ signature.employeeRegister.surname }} {{ signature.employeeRegister.family }}
          </a>
        </td>
        <td>
          <a class="noDecoration" href="{{ signature.employeeStorage.get_absolute_url }}">
            {{ signature.employeeStorage.name }} {{ signature.employeeStorage.surname }} {{ signature.employeeStorage.family }}
          </a>
        </td>
        <td><a class="noDecoration" href="{{ signature.storage.get_absolute_url }}">{{ signature.storage.name }}</a></td>  
        <td>
          {% if signature.licenseKeyFileOpen %}
            <a class="noDecoration" href="{{ signature.licenseKeyFileOpen.url }}">
              <img src="{% static 'images/download.svg' %}" class="iconTable">
            </a>
          {% else %}
            <img src="{% static 'images/no_file.svg' %}" class="iconTable">
          {% endif %}
        </td>
        <td>
          {% if signature.licenseKeyFileClose %}
            <a class="noDecoration" href="{{ signature.licenseKeyFileClose.url }}">
              <img src="{% static 'images/download.svg' %}" class="iconTable">
            </a>
          {% else %}
            <img src="{% static 'images/no_file.svg' %}" class="iconTable">
          {% endif %}
        </td>
        <td>{{ signature.periodOpen }}</td>
        <td>{{ signature.periodClose }}</td>
        <td><a class="noDecoration" href="{{ signature.workstation.get_absolute_url }}">{{ signature.workstation.name }}</a></td>
        <td><a class="noDecoration" href="{{ signature.workstation.workplace.room.get_absolute_url }}">{{ signature.workstation.workplace.room.name }}</a></td>
        <td>{{ signature.workstation.workplace.room.floor }}</td>
        <td>{{ signature.workstation.workplace.room.building }}</td>
      </tr>
      {% endfor %}
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Цифровые подписи не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>-->
<!--pagination block-->
  {%include 'pagination/pagination.html' %}

{% endblock %}