*.DS_Store
node_modules/
**/migrations/
**/database/pgdata/
pgadmin-data/_data/azurecredentialcache
pgadmin-data/_data/sessions
pgadmin-data/_data/storage
pgadmin-data/_data/pgadmin4.db
.vscode/settings.json
.pytest_cache
/backend/media
/backend/static
/static
/media
.coverage
env/
**/__pycache__/

/backend/celerybeat-schedule
/venv/
/.idea
.env.dev
