*.DS_Store
node_modules/
#**/migrations/
**/database/pgdata/
pgadmin-data/_data/azurecredentialcache
pgadmin-data/_data/sessions
pgadmin-data/_data/storage
pgadmin-data/_data/pgadmin4.db
.vscode/settings.json
.pytest_cache
/backend/media
/backend/static
.coverage
env/
node_moduless/
**/__pycache__/

/reactfrontendapp/
/backend/celerybeat-schedule
/venv/
