asgiref
diff-match-patch
Django >=4.1.6,<=5
gunicorn
celery
django-celery-beat
redis
flower
django-adaptors
django-appconf
django-crispy-forms
django-bootstrap5
crispy-bootstrap5
Pillow
psycopg2
psycopg2-binary
six
sqlparse
django-debug-toolbar