asgiref
crispy-bootstrap5
defusedxml
diff-match-patch
Django
gunicorn
django-adaptors
django-appconf
django-bootstrap5
django-compressor
django-crispy-forms
django-crontab
django-import-export
django-sass-processor
et-xmlfile
libsass
MarkupPy
odfpy
openpyxl
Pillow
psycopg2-binary
PyYAML
rcssmin
rjsmin
six
sqlparse
tablib
xlrd
xlwt
django-ajax-selects
django-debug-toolbar