asgiref
attrs
diff-match-patch
Django >=4.1.6,<=5
gunicorn
celery
django-celery-beat
redis
hiredis
flower
django-adaptors
django-appconf
django-crispy-forms
django-bootstrap5
crispy-bootstrap5
Pillow
libpq-dev
psycopg2
psycopg2-binary
python-dateutil
pytz
six
sqlparse
django-debug-toolbar
pytest
pytest-django
