{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not menu_categories %}
  <table class="table align-middle table-hover" style="text-align:center">
    <thead> 
      <tr>
        <th scope="col" style="font-size: 32px;">Группы расходников не обнаружены</th>
      </tr>
    </thead>
  </table>
  {% else %}
    <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'consumables:consumables_list' %}active{% endif %}" href="{% url 'consumables:consumables_list' %}">
              Все группы
            </a>
        </li>
        {% for item in menu_categories %}
          <li class="nav-item ">
            <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
              href="{{ item.get_absolute_url }}">{{item.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if not consumables_list%}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Расходники не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Расходник</th>
          <th scope="col">Описание</th>
          <th scope="col">Производитель</th>
          <th scope="col">Количество</th>
          <th scope="col">Разность</th>
          <th scope="col">На балансе</th>
          <th scope="col">Примечание</th>
        </tr>
      </thead>
      <tbody style="text-align:center">
        {% for each in consumables_list %}
        <tr>
          <td><a class="noDecoration" href="{{ each.get_absolute_url }}">{{ each.name }}</a></td>
          {% if each.description %}
            <td>{{ each.description}}</td>
          {% else %}
            <td></td>
          {% endif %}

          <td><a class="noDecoration" href="{{ each.manufacturer.get_absolute_url }}">{{ each.manufacturer.name }}</a></td>
          <td>{{ each.quantity }}</td>
          <td>{{ each.get_difference }}</td>
          {% if not each.consumable.all %}
            <td></td>
          {% else %}
            <td>
              <table class="table table-sm table-hover " >
                <tbody style="text-align:center">
                  <tr>
                    <td>код</td>
                    <td>кол-во</td>
                    <td>стоимость</td>
                    <td>общая стоимость</td>
                  </tr>
                  {% for con in each.consumable.all %}
                    <tr >
                      <td>
                        <a class="noDecoration" href="{{ con.get_absolute_url }}">
                          {{ con.code }}
                        </a>
                      </td>
                      <td>
                        {{ con.quantity }}
                      </td>
                      <td>
                        {{ con.cost }}
                      </td>
                      <td>
                        {{ con.get_cost_all }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          {% endif %}
          {% if each.note %}
            <td>{{ each.note}}</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    {% endif %}
  </div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}