{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
{% if not menu_categories %}
  <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'printer:printer_list' %}active{% endif %}" href="{% url 'workstation:workstation_list' %}">
            Все группы
          </a>
      </li>
    </ul>
  </nav>
{% else %}
  <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'printer:printer_list' %}active{% endif %}" href="{% url 'printer:printer_list' %}">
            Все группы
          </a>
      </li>
      {% for item in menu_categories %}
        <li class="nav-item ">
          <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
            href="{{ item.get_absolute_url }}">{{item.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
{% if printer_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Принтер</th>
          <th scope="col">Картридж</th>
          <th scope="col">Тонер</th>
          <th scope="col">Фотовал</th>
          <th scope="col">Рабочее место</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for printer in printer_list %}
      <tr>
        <td><a class="noDecoration" href="{{ printer.get_absolute_url }}">{{ printer.name }}</a></td>
        <td><a class="noDecoration" href="{{ printer.cartridge.get_absolute_url }}">{{ printer.cartridge.name }}</a></td>
        <td><a class="noDecoration" href="{{ printer.toner.get_absolute_url }}">{{ printer.toner.name }}</a></td>
        <td><a class="noDecoration" href="{{ printer.fotoval.get_absolute_url }}">{{ printer.fotoval.name }}</a></td>
        <td><a class="noDecoration" href="{{ printer.workplace.get_absolute_url }}">{{ printer.workplace.name }}</a></td>
        <td><a class="noDecoration" href="{{ printer.workplace.room.get_absolute_url }}">{{ printer.workplace.room.name }}</a></td>
        <td>{{ printer.workplace.room.floor }}</td>
        <td>{{ printer.workplace.room.building }}</td>
      </tr>
      {% endfor %}
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Устройства не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}