{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not menu_categories %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <td>
            {% if perms.stockdev.can_export_device %}
              <a class="text-secondary" href="{% url 'stockroom:export_stock_device' %}">
                Экспорт
              </a>
            {% endif %}
          </td>
        </tr>
      </thead>
    </table>
  {% else %}
    <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
      <ul class="nav nav-tabs">
        {% if perms.stockdev.can_export_device %}
          <div class="dropdown">
            <button class="btn btn-light text-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Экспорт
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item text-secondary" href="{% url 'stockroom:export_stock_device' %}">
                  Все устройства
                </a>
              </li>
              {% for item in menu_categories %}
                <li>
                  <a class="dropdown-item text-secondary"
                    href="{% url 'stockroom:export_stock_device_category' item.slug %}">{{item.name}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'stockroom:stock_dev_list' %}active{% endif %}"
               href="{% url 'stockroom:stock_dev_list' %}">
              Все группы
            </a>
        </li>
        {% for item in menu_categories %}
          <li class="nav-item ">
            <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
              href="{{ item.get_absolute_url }}">{{item.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if not stockdev_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Устройства не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
      <table class="table align-middle table-hover caption-top" style="text-align:center">
        <caption>Устройств на странице: {{stockdev_list.count}} из {{obj_list_count}}</caption>
      <thead>
        <tr>
          <th scope="col">Устройства</th>
          <th scope="col">Инвентарник</th>
          <th scope="col">Серийник</th>
          <th scope="col">Размещение</th>
          <th scope="col">Стеллаж</th>
          <th scope="col">Полка</th>
          <th scope="col">Постановка</th>
          <th scope="col">Примечание</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for each in stockdev_list %}
      <tr>
        <td><a class="noDecoration" href="{{ each.stock_model.get_absolute_url }}">{{ each.stock_model.name }}</a></td>
        {% if not each.stock_model.invent %}
          <td></td>
        {% else %}
          <td>{{ each.stock_model.invent }}</td>
        {% endif %}
        {% if not each.stock_model.serial %}
          <td></td>
        {% else %}
          <td>{{ each.stock_model.serial }}</td>
        {% endif %}
        <td>{{ each.stock_model.workplace.room.name }}</td>
        <td>{{ each.rack }}</td>
        <td>{{ each.shelf }}</td>
        <td>{{ each.dateAddToStock|date:"SHORT_DATE_FORMAT" }}</td>
        {% if not each.stock_model.note %}
          <td></td>
        {% else %}
          <td>{{ each.stock_model.note }}</td>
        {% endif %}
        <td>
          <a class="noDecoration" href="{% url 'decommission:add_decom' each.stock_model.id %}">
            Списать
          </a>
        </td>
        <td>
          <a class="noDecoration" href="{% url 'stockroom:stock_remove_device' each.stock_model.id %}">
            Удалить
          </a>
        </td>
      </tr>
      {% endfor %}
  </table>
{% endif %}
  </div>
  <!--block pagination-->  
  {%include 'pagination/pagination.html' %}
  <!--block history-->
  {% load history_tags %}
  {% dev_history_short  %}
{% endblock %}