{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not menu_categories %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Группы не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
    <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'stockroom:stock_list' %}active{% endif %}" href="{% url 'stockroom:stock_list' %}">
              Все группы
            </a>
        </li>
        {% for item in menu_categories %}
          <li class="nav-item ">
            <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
              href="{{ item.get_absolute_url }}">{{item.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if not stockroom_list%}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col" style="font-size: 32px;">Расходники не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
    <table class="table align-middle table-hover caption-top" style="text-align:center">
        <caption>Расходников на странице: {{stockroom_list.count}} из {{obj_list_count}}</caption>
      <thead>
        <tr>
          <th scope="col">Расходник</th>
          <th scope="col">Устройства </th>
          <th scope="col">Стеллаж</th>
          <th scope="col">Полка</th>
          <th scope="col">Количество</th>
          <th scope="col">Разность</th>
          <th scope="col">На балансе</th>
          <th scope="col">Постановка</th>
          <th scope="col">Установка</th>
          <th scope="col">Примечание</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody style="text-align:center">
        {% for each in stockroom_list %}
          <tr>
            <td>
              <a class="noDecoration" href="{{ each.stock_model.get_absolute_url }}">{{ each.stock_model.name }}</a>
            </td>
            {% if not each.stock_model.device.all %}
                <td></td>
              {% else %}
                <td>
                  <table class="table table-sm table-hover " >
                    <tbody style="text-align:center">
                    {% for dev in each.stock_model.device.all %}
                          <a class="noDecoration" href="{{ dev.get_absolute_url }}">
                            | {{ dev.name }}
                          </a>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              {% endif %}
            <td>{{ each.rack }}</td>
            <td>{{ each.shelf }}</td>
            <td>{{ each.stock_model.quantity }}</td>
            <td>{{ each.stock_model.get_difference }}</td>
            {% if not each.stock_model.consumable.all %}
              <td></td>
            {% else %}
              <td>
                <table class="table table-sm table-hover " >
                  <tbody style="text-align:center">
                    <tr>
                      <td>код</td>
                      <td>кол-во</td>
                    </tr>
                    {% for con in each.stock_model.consumable.all %}
                    <tr >
                      <td>
                        <a class="noDecoration" href="{{ con.get_absolute_url }}">
                          {{ con.code }}
                        </a>
                      </td>
                      <td>
                        {{ con.quantity }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            {% endif %}
            <td>{{ each.dateAddToStock }}</td>
            {% if each.dateInstall %}
              <td>{{ each.dateInstall }}</td>
            {% else %}
              <td></td>
            {% endif %}
            {% if each.stock_model.note %}
              <td>{{ each.stock_model.note }}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_consumable' each.stock_model.id %}"> Удалить </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
  <!--block pagination-->  
  {%include 'pagination/pagination.html' %}
  <!--block history-->
  {% load history_tags %}
  {% consumables_history %}
{% endblock %}