{% extends "base_generic.html" %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
<div class="col ">


  </div>

<div class="col ">
  <div class="row row-cols-3 row-cols-md-3">
    <div class="col nodecorationIndex">
      <a href="{% url 'stockroom:stock_list' %}">
        <div class="card text-white text-center bg-dark square justify-content-center">
          <div class="card-header">
            <h5 class="card-title">Расходники</h5>
          </div>
          <img src="{% static 'images/consumables.svg' %}" class="card-img-top iconIndex">
        </div>
      </a>
    </div>
    <div class="col nodecorationIndex">
      <a href="{% url 'stockroom:stock_acc_list' %}">
        <div class="card text-white text-center bg-dark square justify-content-center">
          <div class="card-header">
            <h5 class="card-title">Комплектующие</h5>
          </div>
          <img src="{% static 'images/device.svg' %}" class="card-img-top iconIndex">
        </div>
      </a>
    </div>
    <div class="col nodecorationIndex">
      <a href="{% url 'stockroom:stock_dev_list' %}">
        <div class="card text-white text-center bg-dark square justify-content-center">
          <div class="card-header">
            <h5 class="card-title">Устройства</h5>
          </div>
          <img src="{% static 'images/workstation.svg' %}" class="card-img-top iconIndex">
        </div>
      </a>
    </div>
  </div>
</div>



<!--toast messages-->
  {% include 'toast.html'%}

{% endblock %}