{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="table-responsive"> 
    <caption>
      <h1 style="text-align:center" >{{title}}</h1>
    </caption> 
    {% if post_list %}
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Должность</th>
          <th scope="col">Отдел</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for post in post_list %}
      <tr>
        <td><a class="noDecoration" href="{{ post.get_absolute_url }}">{{ post.name }}</a></td>
        <td><a class="noDecoration" href="{{ post.departament.get_absolute_url }}">{{ post.departament.name }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Сотрудники не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
 