{% extends "base_generic.html" %}

{% block content %}
{%load static%}
<div class="FormsBase">
    <h1 class="text-center mt-3">{{title}}</h1>
        <form method="POST" class="post-form row g-2 mt-3" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
                <div class="col-1"></div>
                <div class="col-4 ml-3">
                    <div><h5 class="text-danger">{{ field.errors }}</h5></div>
                    <div><h5>{{ field.label }}</h5></div>
                    <div><h5>{{ field }}</h5></div>
                    {% if field.help_text %}
                        <div><h5 class="help text-info">{{ field.help_text|safe }}</h5></div>
                    {% endif %}
                </div>
                <div class="col-1"></div>
            {% endfor %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {{ form.media.js }}
        <div class="row">   
        <div class="d-flex justify-content-center input-group mt-3 mr-1">
            {%if selflink%}
            <a class="btn btn-lg btn-outline-dark bg-gradient input-group-text" 
                href="{% url selflink %}">
                    Назад
            </a>
            {%elif deplink%}
            <a class="btn btn-lg btn-outline-dark bg-gradient input-group-text" 
                href="{% url deplink %}">
                    К списку баз
            </a>
            {%endif%}
            <button type="submit" class="save btn btn-lg btn-outline-dark bg-gradient ">
                Сохранить
            </button>
        </div>
    </form>
</div>




{% endblock %}
