{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="mt-3">
  <h1 style="text-align:center" >{{title}}</h1>
</div>
<div class="col-sm-12">
  <div class="row row-cols-3 row-cols-md-3">
    {% for f in device.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            {% if f.value.get_absolute_url %}
            <a class="noDecoration" href="{{ f.value.get_absolute_url }}">
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            </a>
            {% else %}
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="d-flex justify-content-center input-group mt-3 ">
    {% if perms.device.can_add_stock %}
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text"
         href="{% url add %}">
        Добавить
      </a>
    {% endif %}
    {% if perms.device.can_add_stock %}
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text"
         href="{% url update device.id %}">
        Редактировать
      </a>
    {% endif %}
    {% if perms.device.can_add_stock %}
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text"
         href="{% url delete device.id %}">
        Удалить
      </a>
    {% endif %}
  </div>
  {% load history_tags %}
  <div class="row g-1">
    {% if perms.device.can_add_stock %}
      <div class="col-sm-12">
        <div class="d-flex justify-content-center input-group mt-1 ">
          <form action="{% url 'stockroom:stock_add_device' device.id %}"
                class="mt-5 d-flex align-items-center justify-content-center" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{ stock_form.quantity.label }}
              </div>
              <div class="">{{ stock_form.quantity }}</div>
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{stock_form.number_rack.label }}
              </div>
              <div class="">{{ stock_form.number_rack }}</div>
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{stock_form.number_shelf.label }}
              </div>
              <div class="">{{ stock_form.number_shelf }}</div>
              <input class="btn btn-lg btn-outline-dark bg-gradient input-group-text " type="submit"
                     value="Добавить на склад">
            </div>
          </form>
        </div>
      </div>
    {% endif %}
    {% if perms.device.can_move_device %}
      <div class="col-sm-12">
        <div class="d-flex justify-content-center input-group mt-1 ">
          <form action="{% url 'stockroom:move_device' device.id %}"
                class="mt-5 d-flex align-items-center justify-content-center" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="input-group mb-1">
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{ move_form.workplace.label }}
              </div>
              <div class="">{{ move_form.workplace }}</div>
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{ move_form.note.label }}
              </div>
              <div class="">{{ move_form.note }}</div>
              <input class="btn btn-lg btn-outline-dark bg-gradient input-group-text " type="submit" value="Перемещение">
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {{ move_form.media.js }}
          </form>
        </div>
      </div>
    {% endif %}
    {% if perms.device.can_add_history %}
      <div class="col-sm-12">
        <div class="d-flex justify-content-center input-group mt-1 ">
          <form action="{% url 'stockroom:add_device_history' device.id %}"
                class="mt-5 d-flex align-items-center justify-content-center" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                {{ history_form.note.label }}
              </div>
              <div class="">{{ history_form.note }}</div>
              <input class="btn btn-lg btn-outline-dark bg-gradient input-group-text " type="submit"
                     value="Добавить историю">
            </div>
          </form>
        </div>
      </div>
    {% endif %}
    <div class="col-sm-12">
      {% this_device_history device.id %}
    </div>
  </div>
  <div class="row g-2">
    <div class="col-sm-6">
      {% if perms.device.can_install_consumable %}
        {% if device.consumable.id %}
          <div class="d-flex justify-content-center input-group mt-3">
            <form action="{% url 'stockroom:device_add_consumable' device.consumable.id %}"
                  class="mt-1 d-flex align-items-center justify-content-center" enctype="multipart/form-data"
                  method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                  {{ consumable_form.quantity.label }}
                </div>
                <div class="">{{ consumable_form.quantity }}</div>
                <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                  {{ consumable_form.note.label }}
                </div>
                <div class="">{{ consumable_form.note }}</div>
                <input class="btn btn-lg btn-outline-dark bg-gradient input-group-text " type="submit"
                       value="Установить расходник">
              </div>
            </form>
          </div>
        {% endif %}
      {% endif %}
      {% this_device_con_history device.id %}
    </div>
    <div class="col-sm-6">
      {% if perms.device.can_install_accessories %}
        {% if device.accessories.id %}
          <div class="d-flex justify-content-center input-group mt-3">
            <form action="{% url 'stockroom:device_add_accessories' device.accessories.id %}"
                  class="mt-1 d-flex align-items-center justify-content-center" enctype="multipart/form-data"
                  method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                  {{ consumable_form.quantity.label }}
                </div>
                <div class="">{{ consumable_form.quantity }}</div>
                <div class="btn btn-lg btn-outline-dark input-group-text" disabled type="button">
                  {{ consumable_form.note.label }}
                </div>
                <div class="">{{ consumable_form.note }}</div>
                <input class="btn btn-lg btn-outline-dark bg-gradient input-group-text " type="submit"
                       value="Установить комплектующее">
              </div>
            </form>
          </div>
        {% endif %}
      {% endif %}
      {% this_device_acc_history device.id %}
    </div>
  </div>
</div>
</div>
</div>


{% endblock %}
