{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="row row-cols-3 row-cols-md-3">
    <div class="col mt-3">
      <div class="card border-dark  h-100">
        <div class="card-header">
          <h5 class="card-title">
            {{ product.name }}
          </h5>
        </div>
        <div class="card-body text-dark">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width:100%;">
            <p class="price">${{ product.price }}</p>
            <h5 class="card-title">{{ product.description|linebreaks }}</h5>
            <form class="row g-3 form-control-lg" action="{% url 'cart:cart_add' product.id %}" method="post">
                <div class="col-auto">{{ cart_product_form }}</div>
                {% csrf_token %}
                <div class="col-auto">
                    <input class="btn btn-dark" type="submit" value="Add to cart">
                </div>
            </form>

            <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        </div>  
      </div>
    </div>
  </div>

{% endblock %}