{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1 style="text-align:center">Склад</h1>
        <div class="accordion accordion-flush" id="accordion_stock">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed text-align-canter" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Картриджы
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <table class="table align-middle table-hover" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Расходник</th>
                                    <th>Код по бухгалтерии</th>
                                    <th>Количество</th>
                                    <th>Стеллаж</th>
                                    <th>Полка</th>
                                    <th>Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in stock %}
                                
                                    {% with consumable=item.consumable %}
                                        <tr>
                                            <td>
                                                <a class="noDecoration" href="{{ consumable.get_absolute_url }}">
                                                    {{consumable.id}}
                                                </a>
                                            </td>
                                            <td>{{consumable.buhCode}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.number_rack}}</td>
                                            <td>{{item.number_shelf}}</td>
                                            <td>{{item.consumable.name}}</td>
                                            
                                        </tr>
                                    {% endwith %}
                                
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    <div class="text-right mt-3">
        <p class="text-right">
            <a href="{% url 'consumables:consumables_list' %}" class="btn btn-lg btn-outline-dark bg-gradient  input-group-text">Расходники</a>
            <a href="{% url 'catalog:index' %}" class="btn btn-lg btn-outline-dark bg-gradient  input-group-text">На главную</a>
        </p>
    </div>

{% endblock %}
