{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1 style="text-align:center">Склад</h1>
    <div>
        <table class="table align-middle table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>Расходник</th>
                <th>Код по бухгалтерии</th>
                <th>Количество</th>
                <th>Стеллаж</th>
                <th>Полка</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for item in stock %}
                {% if item.cartridge %}
                    {% with cartridge=item.cartridge %}
                        <tr>
                            <td>
                                <a class="noDecoration" href="{{ cartridge.get_absolute_url }}">
                                    {{cartridge.name}}
                                </a>
                            </td>
                            <td>{{cartridge.buhCode}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.number_rack}}</td>
                            <td>{{item.number_shelf}}</td>
                            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_cartridge' cartridge.id%}">Удалть</a></td>
                        </tr>
                    {% endwith %}
                {% endif %}
                {% if item.toner %}
                    {% with toner=item.toner %}
                        <tr>
                            <td>
                                <a class="noDecoration" href="{{ toner.get_absolute_url }}">
                                    {{toner.name}}
                                </a>
                            </td>
                            <td>{{toner.buhCode}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.number_rack}}</td>
                            <td>{{item.number_shelf}}</td>
                            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_toner' toner.id%}">Удалть</a></td>
                        </tr>
                    {% endwith %}
                {% endif %}
                {% if item.fotoval %}
                    {% with fotoval=item.fotoval %}
                        <tr>
                            <td>
                                <a class="noDecoration" href="{{ fotoval.get_absolute_url }}">
                                    {{fotoval.name}}
                                </a>
                            </td>
                            <td>{{fotoval.buhCode}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.number_rack}}</td>
                            <td>{{item.number_shelf}}</td>
                            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_fotoval' fotoval.id%}">Удалть</a></td>
                        </tr>
                    {% endwith %}
                {% endif %}
                {% if item.accumulator %}
                    {% with accumulator=item.accumulator %}
                        <tr>
                            <td>
                                <a class="noDecoration" href="{{ accumulator.get_absolute_url }}">
                                    {{accumulator.name}}
                                </a>
                            </td>
                            <td>{{accumulator.buhCode}}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.number_rack }}</td>
                            <td>{{ item.number_shelf }}</td>
                            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_accumulator' accumulator.id%}">Удалть</a></td>
                        </tr>
                    {% endwith %}
                {% endif %}
                {% if item.storage %}
                    {% with storage=item.storage %}
                        <tr>
                            <td>
                                <a class="noDecoration" href="{{ storage.get_absolute_url }}">
                                    {{storage.name}}
                                </a>
                            </td>
                            <td>{{storage.buhCode}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.number_rack}}</td>
                            <td>{{item.number_shelf}}</td>
                            <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_storage' storage.id%}">Удалть</a></td>
                        </tr>
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-right">
        <a href="{% url 'consumables:consumables' %}" class="btn btn-lg btn-outline-dark bg-gradient  input-group-text">Расходники</a>
        <a href="{% url 'catalog:index' %}" class="btn btn-lg btn-outline-dark bg-gradient  input-group-text">На главную</a>
    </p>
{% endblock %}
