{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  <div class="table-responsive"> 
    <caption>
      <h1 style="text-align:center">{{title}}</h1>
    </caption> 
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
{% if os_list %}
  <table class="table align-middle table-hover" style="text-align:center">
    <thead>
      <tr>
        <th scope="col">ОС</th>
        <th scope="col">Производитель</th>
        <th scope="col">Версия</th>
        <th scope="col">Разрядность</th>
        <th scope="col">Лицензионный ключ</th>
        <th scope="col">Лицензионный ключ</th>
        <th scope="col">Лицензионный ключ</th>
      </tr>
    </thead>
  <tbody style="text-align:center">
    {% for os in os_list %}
    <tr>
      <td><a class="noDecoration" href="{{ os.get_absolute_url }}">{{ os.name }}</a></td>
      <td><a class="noDecoration" href="{{ os.manufacturer.get_absolute_url }}">{{ os.manufacturer.name }}</a></td>
      <td>{{ os.version }}</td>
      <td>{{ os.bitDepth }}</td>
      <td>{{ os.licenseKeyText }}</td>
      <td>
        {% if os.licenseKeyFile %}
          <a class="noDecoration" href="{{ os.licenseKeyFile.url }}">
            <img src="{% static 'images/filetype-key.svg' %}" class="iconTable">
          </a>
        {% else %}
          <img src="{% static 'images/file-earmark-x.svg' %}" class="iconTable">
        {% endif %}
      </td>
      <td>
        {% if os.licenseKeyImg %}
          <a href="{{ os.licenseKeyImg.url }}">
            <img src="{{ os.licenseKeyImg.url }}">
          </a>
        {% else %}
          <img src="{% static 'images/file-earmark-x.svg' %}" class="iconTable">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Програмное обеспечение не обнаружено</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>
<!--block pagination-->  
{%include 'pagination/pagination.html' %}
{% endblock %}
