{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="mt-3">
  <h1 style="text-align:center" >{{title}}</h1>
</div>
  <div class="card-header text-center mt-3">
    <a name="consumablesInfo" class="btn" data-bs-toggle="collapse" href="#consumablesInfoContent" role="button"
      aria-expanded="false" aria-controls="consumablesInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/consumables.svg' %}" class="iconHeader">
        Информация о расходнике
      </h1>
    </a>
  </div>
  <div class="collapse" id="consumablesInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in accounting.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            {% if f.value.get_absolute_url %}
            <a class="noDecoration" href="{{ f.value.get_absolute_url }}">
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            </a>
            {% else %}
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            {% endif %}
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center input-group mt-3 ">
        <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
          href="{% url add %}">
            Добавить
        </a>
        <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
          href="{% url update accounting.id%}">
            Редактировать
        </a>
        <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
          href="{% url delete accounting.id%}">
            Удалить
        </a>      
  </div>
</div>
</div>
{% endblock %}