{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not categories_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Категории не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
      <table class="table align-middle table-hover caption-top" style="text-align:center">
        <caption>Категорий на странице: {{categories_list.count}} из {{obj_list_count}}</caption>
      <thead>
        <tr>
          <th scope="col">Категория</th>
          <th scope="col">Слаг</th>
        </tr>
      </thead>
      <tbody style="text-align:center">
        {% for each in categories_list %}
        <tr>
          <td>{{ each.name }}</td>
          <td>{{ each.slug }}</td>
          <td>
            <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text"
            href="{{ each.get_update_url }}">
            Редактировать
            </a>
          </td>
          <td>
             <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text"
              href="{{ each.get_delete_url }">
                Удалить
            </a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>


    {% endif %}
  </div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}