{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if gpu_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Видеокарта</th>
          <th scope="col">Производитель</th>
          <th scope="col">Тип подключения</th>
          <th scope="col">Объем памяти</th>
          <th scope="col">Тип памяти</th>
          <th scope="col">Версия PCI Express</th>
          <th scope="col">Питание</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for gpu in gpu_list %}
      <tr>
        <td><a class="noDecoration" href="{{ gpu.get_absolute_url }}">{{ gpu.name }}</a></td>
        <td><a class="noDecoration" href="{{ gpu.manufacturer.get_absolute_url }}">{{ gpu.manufacturer.name }}</a></td>
        <td>{{ gpu.type }}</td>
        <td>{{ gpu.gram }}</td>
        <td>{{ gpu.gramType }}</td>
        <td>{{ gpu.pcie }}</td>
        <td>{{ gpu.supply }}</td>
        <td>{{ gpu.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Видокарты не обнаружены</th>
        </tr>
      </thead>
    </table>
    
    {% endif %}
  </div>
</div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
