{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if ssd_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">SSD</th>
          <th scope="col">Производитель</th>
          <th scope="col">Тип памяти</th>
          <th scope="col">Объем памяти</th>
          <th scope="col">Тип подключения</th>
          <th scope="col">Скорость чтения</th>
          <th scope="col">Скорость записи</th>
          <th scope="col">Ресурс</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for ssd in ssd_list %}
      <tr>
        <td><a class="noDecoration" href="{{ ssd.get_absolute_url }}">{{ ssd.name }}</a></td>
        <td><a class="noDecoration" href="{{ ssd.manufacturer.get_absolute_url }}">{{ ssd.manufacturer.name }}</a></td>
        <td>{{ ssd.type }}</td>
        <td>{{ ssd.capacity }}</td>
        <td>{{ ssd.plug }}</td>
        <td>{{ ssd.speedRead }}</td>
        <td>{{ ssd.speadWrite }}</td>
        <td>{{ ssd.resourse }}</td>
        <td>{{ ssd.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">SSD не обнаружены</th>
        </tr>
      </thead>
    </table>
    
    {% endif %}
  </div>
</div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
