{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if not menu_categories %}
  <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'workstation:workstation_list' %}active{% endif %}" href="{% url 'workstation:workstation_list' %}">
            Все группы
          </a>
      </li>
    </ul>
  </nav>
{% else %}
  <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'workstation:workstation_list' %}active{% endif %}" href="{% url 'workstation:workstation_list' %}">
            Все группы
          </a>
      </li>
      {% for item in menu_categories %}
        <li class="nav-item ">
          <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
            href="{{ item.get_absolute_url }}">{{item.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
{% if workstation_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Сотрудник</th>
          <th scope="col">Раб. станция</th>
          <th scope="col">Серийный номер</th>
          <th scope="col">Инвентарный номер</th>
          <th scope="col">ОС</th>
          <th scope="col">Раб. место</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for workstation in workstation_list %}
      <tr>
        <td><a class="noDecoration" href="{{ workstation.employee.get_absolute_url }}">{{ workstation.employee.name }} {{ workstation.employee.sername }} {{ workstation.employee.family }}</a></td>
        <td><a class="noDecoration" href="{{ workstation.get_absolute_url }}">{{ workstation.name }}</a></td>
        <td>
          {% if workstation.serial %}
            {{ workstation.serial }}
          {% elif workstation.serialImg %}
            <a href="{{ workstation.serialImg.url }}">
              <img src="{{ workstation.serialImg.url }}" style="height:60px">
            </a>
          {% else %}
            <img src="{% static 'images/no_file.svg' %}" class="iconTable">
          {% endif %}
        </td>
        <td>
          {% if workstation.invent %}
            {{ workstation.invent }}
          {% elif workstation.inventImg %}
            <a href="{{ workstation.inventImg.url }}">
              <img src="{{ workstation.inventImg.url }}" style="height:60px">
            </a>
          {% else %}
            <img src="{% static 'images/no_file.svg' %}" class="iconTable" >
          {% endif %}
        </td>
        <td><a class="noDecoration" href="{{ workstation.os.get_absolute_url }}">{{ workstation.os.name }}</a></td>
        <td><a class="noDecoration" href="{{ workstation.workplace.get_absolute_url }}">{{ workstation.workplace.name }}</a></td>
        <td><a class="noDecoration" href="{{ workstation.workplace.room.get_absolute_url }}">{{ workstation.workplace.room.name }}</a></td>
        <td>{{ workstation.workplace.room.floor }}</td>
        <td>{{ workstation.workplace.room.building }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Рабочие станции не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
  <!--block pagination-->  
  {%include 'pagination/pagination.html' %}
</div>
</div>
{% endblock %}
