{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if ups_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">ИБП</th>
          <th scope="col">Производитель</th>
          <th scope="col">Мощность</th>
          <th scope="col">Напряжение</th>
          <th scope="col">Ток</th>
          <th scope="col">Аккумулятор 1</th>
          <th scope="col">Аккумулятор 2</th>
          <th scope="col">Аккумулятор 3</th>
          <th scope="col">Аккумулятор 4</th>
          <th scope="col">Кассета 1</th>
          <th scope="col">Кассета 2</th>
          <th scope="col">Кассета 3</th>
          <th scope="col">Кассета 4</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for ups in ups_list %}
      <tr>
        <td><a class="noDecoration" href="{{ ups.get_absolute_url }}">{{ ups.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.manufacturer.get_absolute_url }}">{{ ups.manufacturer.name }}</a></td>
        <td>{{ ups.power }}</td>
        <td>{{ ups.voltage }}</td>
        <td>{{ ups.current }}</td>
        <td><a class="noDecoration" href="{{ ups.accumulator1.get_absolute_url }}">{{ ups.accumulator1.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.accumulator2.get_absolute_url }}">{{ ups.accumulator2.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.accumulator3.get_absolute_url }}">{{ ups.accumulator3.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.accumulator4.get_absolute_url }}">{{ ups.accumulator4.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.cassette1.get_absolute_url }}">{{ ups.cassette1.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.cassette2.get_absolute_url }}">{{ ups.cassette2.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.cassette3.get_absolute_url }}">{{ ups.cassette3.name }}</a></td>
        <td><a class="noDecoration" href="{{ ups.cassette4.get_absolute_url }}">{{ ups.cassette4.name }}</a></td>
        <td>{{ ups.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Аккумуляторы не обнаружены</th>
        </tr>
      </thead>
    </table>
    
    {% endif %}
  </div>
</div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
