<div class="accordion accordion-flush dark mt-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            История переммещения устройства
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table align-middle table-hover" style="text-align:center">
            <thead>
                <tr>
                <th scope="col">Группа</th>
                <th scope="col">Устройство</th>
                <th scope="col">Количество</th>
                <th scope="col">Дата</th>
                <th scope="col">Статус</th>
                <th scope="col">Пользователь</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
            {% for each in device_move_list %}
              <tr>
                <td>
                    {% if not each.categories %}
                        <div>Нет группы</div>
                    {% else %}
                        {{ each.categories }}
                    {% endif %}
                </td>
                <td>{{ each.devicies }}</td>
                <td>{{ each.score }}</td>
                <td>{{ each.dateInstall }}</td>
                <td>{{ each.status }}</td>
                <td>{{ each.user }}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
      </div>
    </div>
</div>

