<div class="accordion accordion-flush dark mt-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#consumable" aria-expanded="true" aria-controls="consumable">
            История замены расходников
        </button>
      </h2>
      <div id="consumable" class="accordion-collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table align-middle table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th scope="col">Расходник</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Пользователь</th>
                </tr>
                </thead>
            <tbody style="text-align:center">
                {% for each in device_con_history_list %}
                  {% if not device_con_history_list %}
                    <tr>
                      <td>Замены расходников не производились</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td><a class="noDecoration" href="{% url 'consumables:consumables-detail' each.consumableId %}">{{ each.consumable }}</a></td>
                      <td>{{ each.categories}}</td>
                      <td>{{ each.score }}</td>
                      <td>{{ each.dateInstall }}</td>
                      <td>{{ each.user }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </table>
        </div>
      </div>
    </div>
</div>

