{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
  {% if not menu_categories %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Группы не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
    <nav class="navbar bg-body-tertiary sticky-top bg-light w-100" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-secondary {% if request.resolver_match.view_name == 'stockroom:stock_acc_list' %}active{% endif %}" href="{% url 'stockroom:stock_acc_list' %}">
              Все группы
            </a>
        </li>
        {% for item in menu_categories %}
          <li class="nav-item ">
            <a class="nav-link text-secondary {% if request.get_full_path == item.get_absolute_url %}active{% endif %}"
              href="{{ item.get_absolute_url }}">{{item.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if not stockdev_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Устройства не обнаружены</th>
        </tr>
      </thead>
    </table>
  {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Устройства</th>
          <th scope="col">Группа</th>
          <th scope="col">Стеллаж</th>
          <th scope="col">Полка</th>
          <th scope="col">Количество</th>
          <th scope="col">Постановка</th>
          <th scope="col">Перемещение</th>
          <th scope="col">Примечание</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for each in stockdev_list %}
      <tr>
        <td><a class="noDecoration" href="{{ each.devicies.get_absolute_url }}">{{ each.devicies.name }}</a></td>
        <td>{{ each.categories}}</td>
        <td>{{ each.rack }}</td>
        <td>{{ each.shelf }}</td>
        <td>{{ each.devicies.score }}</td>
        <td>{{ each.dateAddToStock }}</td>
        {% if each.dateInstall %}  
          <td>{{ each.dateInstall }}</td>
        {% else %}
          <td></td>
        {% endif %}
        {% if each.accessories.note %}  
          <td>{{ each.accessories.note }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td><a class="noDecoration" href="{% url 'stockroom:stock_remove_device' each.devicies.id %}"> Удалить </a></td>
      </tr>
      {% endfor %}
  </table>
{% endif %}
  </div>
  <!--block pagination-->  
  {%include 'pagination/pagination.html' %}
  <!--block history-->
  {%include 'stock/history_dev_short_list.html' %}
{% endblock %}