<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Авторизация</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="login">
        <div class="login_content">
          {% block content %}{% endblock %}
        </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
