<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% for digitalsignature in digitalsignature_list %}
    {% if digitalsignature.warningTwoMounth >= digitalsignature.validityPeriod %}
    {% if digitalsignature.danger_date >= digitalsignature.validityPeriod %}
      <div class="toast show bg-danger text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark bg-danger bg-opacity-100">
    {% elif digitalsignature.warningOneWeek >= digitalsignature.validityPeriod %}
      <div class="toast show bg-danger text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-dark bg-opacity-75">
    {% elif digitalsignature.warningTwoWeeks >= digitalsignature.validityPeriod %}
      <div class="toast show bg-danger text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-dark bg-opacity-50">
    {% elif digitalsignature.warningThreeWeeks >= digitalsignature.validityPeriod %}
      <div class="toast show bg-warning text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark bg-opacity-100">
    {% elif digitalsignature.warningOneMounth >= digitalsignature.validityPeriod %}
      <div class="toast show bg-warning text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark bg-opacity-75">
    {% elif digitalsignature.warningTwoMounth >= digitalsignature.validityPeriod %}
      <div class="toast show bg-warning text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark bg-opacity-50">
    {% endif %}
        <strong class="me-auto">Истекает срок действия ЭЦП!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
      </div>
      <div class="toast-body">
        {{ digitalsignature.Employee.name }} {{ digitalsignature.validityPeriod }}
      </div>
    {% endif %}
    {% endfor %}
</div>  
