<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  {% if signature_list %}
    {% for signature in signature_list %}
      {% if signature.dangerDay >= signature.periodOpen %}  
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-100">
      {% elif signature.warningOneWeek >= signature.periodOpen %}
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-75">    
      {% elif signature.warningTwoWeeks == signature.periodOpen %}
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-50"> 
      {% elif signature.warningThreeWeeks == signature.periodOpen %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-100">
      {% elif signature.warningOneMounth == signature.periodOpen %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-75">
      {% elif signature.warningTwoMounth == signature.periodOpen %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-50">
      {% else %}
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">   
          <div class="toast-header">
      {% endif %}
            <strong class="me-auto">Истекает срок действия ЭЦП!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
          </div>
          <div  id="toast-body" class="toast-body shadow-lg" >
            Сотрудник: {{ signature.employee.name }} <br>
              Дата: {{ signature.periodOpen }}
          </div>  
        </div> 
        {% if signature.dangerDay >= signature.periodClose %}  
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-100">
      {% elif signature.warningOneWeek >= signature.periodClose %}
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-75">    
      {% elif signature.warningTwoWeeks == signature.periodClose %}
        <div id="toast" class="toast show bg-danger text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-danger bg-opacity-50"> 
      {% elif signature.warningThreeWeeks == signature.periodClose %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-100">
      {% elif signature.warningOneMounth == signature.periodClose %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-75">
      {% elif signature.warningTwoMounth == signature.periodClose %}
        <div id="toast" class="toast show bg-warning text-dark bg-opacity-50" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header text-dark bg-warning bg-opacity-50">
      {% else %}
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">   
          <div class="toast-header">
      {% endif %}
            <strong class="me-auto">Истекает срок действия ЭЦП!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
          </div>
          <div  id="toast-body" class="toast-body shadow-lg" >
            Сотрудник: {{ signature.employee.name }} <br>
              Дата: {{ signature.periodClose }}
          </div>  
        </div> 
    {% endfor %}
  {% endif %}  
</div>
