<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}   
          <div id="toast" class="toast show bg-success text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-dark bg-success bg-opacity-75">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div id="toast" class="toast show bg-danger text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-dark bg-danger bg-opacity-75">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <div id="toast" class="toast show bg-info text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-dark bg-info bg-opacity-75">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div id="toast" class="toast show bg-warning text-dark bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-dark bg-warning bg-opacity-75">
        {% endif %}
      {% else %}
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">   
          <div class="toast-header">
      {% endif %}
            <strong class="me-auto">{{message.extra_tags}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
          </div>
          <div  id="toast-body" class="toast-body shadow-lg" >
            {{ message }}
          </div>  
        </div> 
    {% endfor %}
  {% endif %}  
</div>
