{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="table-responsive"> 
  <caption>
    <h1 style="text-align:center" >{{title}}</h1>
  </caption> 
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
  {% if employee_list %}
  <table class="table align-middle table-hover caption-top" style="text-align:center">
    <caption>Сотрудников на странице: {{employee_list.count}} из {{obj_list_count}}</caption>
      <thead>
        <tr>
          <th scope="col">ФИО</th>
          <th scope="col">Раб. место</th>
          <th scope="col">Должность</th>
          <th scope="col">Отдел</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
      <tbody style="text-align:center">
        {% for employee in employee_list %}
        <tr>
          <td><a class="noDecoration" href="{{ employee.get_absolute_url }}">{{ employee.surname }} {{ employee.name }}
            {{ employee.last_name }}</a></td>
          <td><a class="noDecoration" href="{{ employee.workplace.get_absolute_url }}">{{ employee.workplace.name }}</a></td>
          <td><a class="noDecoration" href="{{ employee.post.get_absolute_url }}">{{ employee.post.name }}</a></td>
          <td><a class="noDecoration" href="{{ employee.post.departament.get_absolute_url }}">{{ employee.post.departament.name }}</a></td>
          <td><a class="noDecoration" href="{{ employee.workplace.room.get_absolute_url }}">{{ employee.workplace.room.name }}</a></td>
          <td>{{ employee.workplace.room.floor }}</td>
          <td>{{ employee.workplace.room.building }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Сотрудники не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>

<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
 