{% extends "login_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Имя пользователя и пароль не совпадают. Попробуйте еще раз.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вас нет доступа к данному контенту. Чтобы продолжить,
    авторизуйтесь.</p>
  {% else %}
    <p>Авторизуйтесь, чтобы увидеть.</p>
  {% endif %}
{% endif %}

{% load django_bootstrap5 %}

<form action="{% url 'login' %}" method="post" class="form ">
 {% csrf_token %}

 {% bootstrap_form form %}

 {% bootstrap_button button_type="submit" content="Войти" %}


</form>

{% endblock %}