{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if accumulator_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Аккумуляторы</th>
          <th scope="col">Производитель</th>
          <th scope="col">Мощность</th>
          <th scope="col">Напряжение</th>
          <th scope="col">Ток</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for accumulator in accumulator_list %}
      <tr>
        <td><a class="noDecoration" href="{{ accumulator.get_absolute_url }}">{{ accumulator.name }}</a></td>
        <td><a class="noDecoration" href="{{ accumulator.manufacturer.get_absolute_url }}">{{ accumulator.manufacturer.name }}</a></td>
        <td>{{ accumulator.power }}</td>
        <td>{{ accumulator.voltage }}</td>
        <td>{{ accumulator.current }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Аккумуляторы не обнаружены</th>
        </tr>
      </thead>
    </table>
    
    {% endif %}
  </div>
</div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
