{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="mt-3">
  <h1 style="text-align:center" >{{title}}</h1>
</div>
  <div class="card-header text-center mt-3">
    <a name="cartridgeInfo" class="btn" data-bs-toggle="collapse" href="#cartridgeInfoContent" role="button"
      aria-expanded="false" aria-controls="cartridgeInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/cartridge.svg' %}" class="iconHeader">
        Информация о картридже
      </h1>
    </a>
  </div>
  <div class="collapse" id="cartridgeInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in cartridge.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            {% if f.value.get_absolute_url %}
            <a class="noDecoration" href="{{ f.value.get_absolute_url }}">
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            </a>
            {% else %}
              <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
            {% endif %}
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <form action="{% url 'stockroom:stock_add' cartridge.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-1"></div>
        <div class="col-4 ml-3">
            <div><h5 class="text-danger">{{ field.errors }}</h5></div>
            <div><h5>{{ field.label }}</h5></div>
            <div><h5>{{ field }}</h5></div>
            {% if field.help_text %}
                <div><h5 class="help text-info">{{ field.help_text|safe }}</h5></div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    {% endfor %}
    <div class="d-flex justify-content-center input-group mt-3 ">
      <input type="submit" value="Добавить на склад" class="btn btn-lg btn-outline-dark bg-gradient  ">
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
        href="{% url add %}">
          Добавить
      </a>
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
        href="{% url update cartridge.id%}">
          Редактировать
      </a>
      <a class="btn btn-lg btn-outline-dark bg-gradient  input-group-text" 
        href="{% url delete cartridge.id%}">
          Удалить
      </a>
    </div>
  </form>

{% endblock %}

