{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  <div class="table-responsive-xxl"> 
    <caption>
      <h1 style="text-align:center" >Список цифровых подписей</h1>
    </caption>
    
    {% if digitalsignature_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Сотрудник</th>
          <th scope="col">Раб. станция</th>
          <th scope="col">Лицензия</th>
          <th scope="col">Истекает срок</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for digitalsignature in digitalsignature_list %}
      <tr>  
        <td>{{ digitalsignature.Employee.name }}</td>
        <td><a class="noDecoration" href="{{ digitalsignature.workstation.get_absolute_url }}">{{ digitalsignature.workstation.name }}</a></td>
        <td>
          {% if digitalsignature.licenseKeyFile %}
            <a class="noDecoration" href="{{ digitalsignature.licenseKeyFile.url }}">
              <img src="{% static 'images/filetype-key.svg' %}" class="iconTable">
            </a>
          {% elif digitalsignature.licenseKeyImg %}
            <a href="{{ digitalsignature.licenseKeyImg.url }}">
              <img src="{{ digitalsignature.licenseKeyImg.url }}">
            </a>
          {% elif digitalsignature.licenseKeyText%}
            {{digitalsignature.licenseKeyText}}
          {% else %}
            <img src="{% static 'images/file-earmark-x.svg' %}" class="iconTable">
          {% endif %}
        </td>
        <td>{{ digitalsignature.validityPeriod }}</td>
        <td>{{ digitalsignature.Workplace.Room.name }}</td>
        <td>{{ digitalsignature.Workplace.Floor.name }}</td>
        <td>{{ digitalsignature.Workplace.Building.name }}</td>
      </tr>
      {% endfor %}
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Цифровые подписи не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
  <div class="mtop">
    {% block pagination %}
    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
                {% for p in page_obj.paginator.page_range %}
                {% if p == page_obj.number %}
                <li class="page-item active" aria-current="page" style="background-color: black;">
                    <a class="page-link" href="{{ request.path }}?page={{ p }}">{{ p }}</a>
                </li>
                {% else %}
                  <li class="page-item" >
                    <a class="page-link" href="{{ request.path }}?page={{ p }}">{{ p }}</a>
                  </li>
                {% endif %}
                {% endfor %}
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
  {% endblock %}  
  </div>
{% endblock %}