{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="table-responsive"> 
    <caption>
      <h1 style="text-align:center" >{{title}}</h1>
    </caption> 
    {% if employee_list %}
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">ФИО</th>
          <th scope="col">Раб. место</th>
          <th scope="col">Должность</th>
          <th scope="col">Отдел</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for Employee in employee_list %}
      <tr>
        <td>{{ Employee.name }} {{ Employee.sername }} {{ Employee.family }}</td>
        <td>{{ Employee.Workplace.name }}</td>
        <td>{{ Employee.post.name }}</td>
        <td>{{ Employee.departament.name }}</td>
        <td>{{ Employee.Workplace.Room.name }}</td>
        <td>{{ Employee.Workplace.Room.Floor.name }}</td>
        <td>{{ Employee.Workplace.Room.Floor.Building.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Сотрудники не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
 