{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="col-sm-12">
  <div class="card-header text-center">
    <a name="printerInfo" class="btn" data-bs-toggle="collapse" href="#printerInfoContent" role="button"
      aria-expanded="false" aria-controls="printerInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/printer.svg' %}" class="iconHeader">
        Информация о принтере
      </h1>
    </a>
  </div>
  <div class="collapse" id="printerInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in printer.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card-header text-center mt-3">
    <a name="cartridgeInfo" class="btn" data-bs-toggle="collapse" href="#cartridgeInfoContent" role="button"
      aria-expanded="false" aria-controls="cartridgeInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/printer.svg' %}" class="iconHeader">
        Информация о картридже
      </h1>
    </a>
  </div>
  <div class="collapse" id="cartridgeInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in printer.cartridge.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card-header text-center mt-3">
    <a name="paperInfo" class="btn" data-bs-toggle="collapse" href="#paperInfoContent" role="button"
      aria-expanded="false" aria-controls="paperInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/stack-overflow.svg' %}" class="iconHeader">
        Информация о бумаге
      </h1>
    </a>
  </div>
  <div class="collapse" id="paperInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in printer.paper.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card-header text-center mt-3">
    <a name="workplaceInfo" class="btn" data-bs-toggle="collapse" href="#workplaceInfoContent" role="button"
      aria-expanded="false" aria-controls="workplaceInfoContent">
      <h1 class="card-title">
        <img src="{% static 'images/door-open.svg' %}" class="iconHeader">
        Информация о местоположении
      </h1>
    </a>
  </div>
  <div class="collapse" id="workplaceInfoContent">
    <div class="row row-cols-3 row-cols-md-3">
      {% for f in printer.Workplace.get_all_fields %}
      <div class="col mt-3">
        <div class="card border-dark  h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{f.label|capfirst}}
            </h5>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">{{f.value|escape|urlize|linebreaks}}</h5>
          </div>  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

