{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  {% if software_list %}
  <div class="table-responsive"> 
    <caption>
      <h1 style="text-align:center">{{title}}</h1>
    </caption> 
<!--search block-->
    {%include 'search/search.html' %}
<!--block content-->
  <table class="table align-middle table-hover" style="text-align:center">
    <thead>
      <tr>
        <th scope="col">Сотрудник</th>
        <th scope="col">Раб. место</th>
        <th scope="col">Раб. станция</th>
        <th scope="col">ОС</th>
        <th scope="col">ПО</th>
        <th scope="col">Лицензионный ключ</th>
        <th scope="col">фото</th>
      </tr>
    </thead>
  <tbody style="text-align:center">
    {% for software in software_list %}
    <tr>
      <td>{{ software.Employee.name }} {{ software.Employee.sername }} {{ software.Employee.family }}</td>
      <td>{{ software.workstation.Workplace.name }}</td>
      <td>
        <a class="noDecoration" href="{{ software.workstation.get_absolute_url }}">
          {{ software.workstation.name }}
        </a>
      </td>
      <td>{{ software.workstation.OS.name }}</td>
      <td>{{ software.name }}</td>
      <td>
        {% if software.licenseKeyFile %}
          <a class="noDecoration" href="{{ software.licenseKeyFile.url }}">
            <img src="{% static 'images/filetype-key.svg' %}" class="iconTable">
          </a>
        {% elif software.licenseKeyText%}
          {{software.licenseKeyText}}
        {% else %}
          <img src="{% static 'images/file-earmark-x.svg' %}" class="iconTable">
        {% endif %}
      </td>
      <td>
        {% if software.licenseKeyImg %}
          <a href="{{ software.licenseKeyImg.url }}">
            <img src="{{ software.licenseKeyImg.url }}">
          </a>
        {% else %}
          <img src="{% static 'images/file-earmark-x.svg' %}" class="iconTable">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Програмное обеспечение не обнаружено</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>
<!--block pagination-->  
{%include 'pagination/pagination.html' %}
{% endblock %}
