{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
    {% if workplace_list %}
    <div class="table-responsive"> 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
<!--block content-->
      <table class="table align-middle table-hover" style="text-align:center">
        <thead>
          <tr>
            <th scope="col">Раб. место</th>
            <th scope="col">Кабинет</th>
            <th scope="col">Этаж</th>
            <th scope="col">Здание</th>
          </tr>
        </thead>
      <tbody style="text-align:center">
        {% for Workplace in workplace_list %}
        <tr>
          <td>{{ Workplace.name }}</td>
          <td>{{ Workplace.Room.name }}</td>
          <td>{{ Workplace.Room.Floor.name }}</td>
          <td>{{ Workplace.Room.Floor.Building.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Рабочие места не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>  
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
