{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-12 table-responsive-xxl"> 
    <caption>
      <h1 style="text-align:center" >Список рабочих мест</h1>
    </caption>
    
    {% if workplace_list %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Раб. место</th>
          <th scope="col">Кабинет</th>
          <th scope="col">Этаж</th>
          <th scope="col">Здание</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for Workplace in workplace_list %}
      <tr>
        <td>{{ Workplace.name }}</td>
        <td>{{ Workplace.Room.name }}</td>
        <td>{{ Workplace.Room.Floor.name }}</td>
        <td>
            {{ Workplace.Room.Floor.Building.name }}
            <form id="label" action="active" method="post">
                {% csrf_token %}
                <label>
                        rayh
                </label>
                <input type="submit" value="Yes, delete." />
                
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Рабочие места не обнаружены</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>  
<div class="mtop">
    {% block pagination %}
    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
                {% for p in page_obj.paginator.page_range %}
                {% if p == page_obj.number %}
                <li class="page-item active" aria-current="page" style="background-color: black;">
                    <a class="page-link" href="{{ request.path }}?page={{ p }}">{{ p }}</a>
                </li>
                {% else %}
                  <li class="page-item" >
                    <a class="page-link" href="{{ request.path }}?page={{ p }}">{{ p }}</a>
                  </li>
                {% endif %}
                {% endfor %}
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            </ul>
    {% endif %}
  {% endblock %}  
  </div>
{% endblock %}
