{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <div > 
      <caption>
        <h1 style="text-align:center" >{{title}}</h1>
      </caption> 
<!--search block-->
      {%include 'search/search.html' %}
    </div>
<!--block content-->
{% if cpu_list %}
  <div class="table-responsive">
    <table class="table align-middle table-hover" style="text-align:center">
      <thead>
        <tr>
          <th scope="col">Раб. станция</th>
          <th scope="col">Производитель</th>
          <th scope="col">Сокет</th>
          <th scope="col">Частота</th>
          <th scope="col">L1 cache</th>
          <th scope="col">L2 cache</th>
          <th scope="col">L3 cache</th>
          <th scope="col">Ядра</th>
          <th scope="col">Потоки</th>
          <th scope="col">TDP</th>
          <th scope="col">Питание</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
    <tbody style="text-align:center">
      {% for cpu in cpu_list %}
      <tr>
        <td><a class="noDecoration" href="{{ cpu.get_absolute_url }}">{{ cpu.name }}</a></td>
        <td><a class="noDecoration" href="{{ cpu.manufacturer.get_absolute_url }}">{{ cpu.manufacturer.name }}</a></td>
        <td>{{ cpu.socket }}</td>
        <td>{{ cpu.frequency }}</td>
        <td>{{ cpu.l1 }}</td>
        <td>{{ cpu.l2 }}</td>
        <td>{{ cpu.l3 }}</td>
        <td>{{ cpu.core }}</td>
        <td>{{ cpu.thread }}</td>
        <td>{{ cpu.tdp }}</td>
        <td>{{ cpu.supply }}</td>
        <td>{{ cpu.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    {% else %}
    <table class="table align-middle table-hover" style="text-align:center">
      <thead> 
        <tr>
          <th scope="col" style="font-size: 32px;">Мониторы не обнаружены</th>
        </tr>
      </thead>
    </table>
    
    {% endif %}
  </div>
</div>
<!--block pagination-->  
  {%include 'pagination/pagination.html' %}
{% endblock %}
